<div class="w-75 p-4 mx-auto">
  <!-- <form (ngSubmit)="handleSubmit(formObject)" #formObject="ngForm"> -->
  <h2>Forgot your password?</h2>
  <p class="mt-4 text-secondary font-sm">
    Please enter your email address below. We will send you a verification code
    to reset your password
  </p>
  <form [formGroup]="forgetPasswordForm" (ngSubmit)="handleForget()">
    @if(responseErrMessage){
    <p class="alert alert-danger text-center my-2">{{ responseErrMessage }}</p>
    }

    <label class="my-2" for="email"
      >Email <span class="text-danger">*</span></label
    >
    <input
      formControlName="email"
      name="email"
      class="mt-2 form-control"
      type="email"
      id="email"
    />
    @if(forgetPasswordForm.get('email')?.touched){
    <div>
      @if(forgetPasswordForm.get('email')?.getError('required')){
      <p class="tex-small mt-0 text-danger">email is required</p>
      } @else if(forgetPasswordForm.get('email')?.getError('email')){
      <p class="tex-small mt-0 text-danger">Enter a valid email format</p>
      }
    </div>
    }

    <div class="d-flex justify-content-end align-items-baseline">
      <button
        [disabled]="forgetPasswordForm.invalid || isloading"
        class="btn btn-success my-4"
      >
        @if(!isloading){<span>Send </span>}@else{<span
          class="fa-solid fa-spinner fa-spin"
        ></span
        >}
      </button>
    </div>
  </form>
</div>
