<div class="w-75 p-4 mx-auto">
  <!-- <form (ngSubmit)="handleSubmit(formObject)" #formObject="ngForm"> -->
  <h2>Reset your password</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="handleReset()">
    @if(responseErrMessage){
    <p class="alert alert-danger text-center my-2">{{ responseErrMessage }}</p>
    }

    <label class="my-2" for="email"
      >Email <span class="text-danger">*</span></label
    >
    <input
      formControlName="email"
      name="email"
      class="mt-2 form-control"
      type="email"
      id="email"
    />
    @if(resetPasswordForm.get('email')?.touched){
    <div>
      @if(resetPasswordForm.get('email')?.getError('required')){
      <p class="tex-small mt-0 text-danger">email is required</p>
      } @else if(resetPasswordForm.get('email')?.getError('email')){
      <p class="tex-small mt-0 text-danger">Enter a valid email format</p>
      }
    </div>
    }

    <label class="my-2" for="password"
      >New Password <span class="text-danger">*</span></label
    >
    <input
      formControlName="newPassword"
      name="password"
      class="mt-2 form-control"
      type="password"
      id="password"
    />
    @if(resetPasswordForm.get('password')?.touched){
    <div>
      @if(resetPasswordForm.get('password')?.getError('required')){
      <p class="tex-small mt-0 text-danger">New Password is required</p>
      } @else if(resetPasswordForm.get('password')?.getError('pattern')){
      <p class="tex-small mt-0 text-danger">1 Cap, 1 small , 3chars</p>
      }
    </div>
    }
    <div class="d-flex justify-content-end align-items-baseline">
      <button
        [disabled]="resetPasswordForm.invalid || isloading"
        class="btn btn-success my-4"
      >
        @if(!isloading){<span>Submit </span>}@else{<span
          class="fa-solid fa-spinner fa-spin"
        ></span
        >}
      </button>
    </div>
  </form>
</div>
